.preferences {
    display: inline-block;
}
.advanced-preferences {
    position: fixed;
    margin-top: 17px;
    left: 0;
    right: 0;
	background: #eee;
	padding: 5px 10px;
    div {
        display: inline-block;
        margin-left: 10px;
    }
    div:first-of-type {
        margin-left: 0;
    }
}
.btn.show-preferences {
    display: block;
    margin-left: 5px;
}
@keyframes slide-in {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 36px;
    opacity: 100%;
  }
}