@import "./bootstrap/main.scss";

html, body {
  margin: 0;
  padding: 0;
}

// margin to help clear the nav bar
#content {
	margin: 90px 10px 10px;
}

aside {
  margin-bottom: 20px;
}

textarea {
  max-width: 95%;
  min-width: 95%;
  min-height: 100px;
  margin: auto !important;
}